.div-app-layout{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;   
    border: 2px solid red;
    overflow: hidden;
}

.div-app-layout-row{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    border: 2px solid blue;
}